.NavBar{
    display: flex;
    margin-top: 0.325%;
    max-width: 100%;
}
.li{
    list-style-type: none;
    display: felx;
    margin:2px 5px;
    flex-direction: row-reverse;
}
.hr{
    margin-bottom: 0.3%;
}